@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .conteiner{
        margin:0 auto;
        width: 62.5%;
        height: 100%;
        /* display: flex; */
        /* align-items: center; */
    }
    .conteiner h1{
        font-family: Titillium Web;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 61px;
        color: #FFFFFF;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .img_cadastro{
        background-image: url(../img/img_fundo_participar.png);
        height: 422px;

    }
    .cadastro{
        height: 779px;
        background: #1E1C21;
    }
    .conteiner_cadastro{
        width: 100%;
    }
    form{
        width: 743px;
        height: 340px;
        background: linear-gradient(180deg, #000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 86.5%);
        box-shadow: 1px 1px 20px 4px #000000;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 5%;
    }
    .aling_form{
        margin: 0 12%;
        margin-top: 0px;
        height: 100%;
        margin-top: 13%;
    }
    .um{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: #FFFFFF;
    }
    .inp_um{
        width: 575px;
        height: 24px;
        left: 433px;
        top: 458px;
        background: #ABABAB;
        border: none;
    }
    .dois{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 23px;
        color: #FFFFFF;
        margin-top: 3%;
    }
    .inp_dois{
        width: 146px;
        height: 20px;
        left: 433px;
        top: 546px;
        background: #ABABAB;
        border: none;
    }
    .cadastrarse{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3%;

    }
    .cadastrarse button{
        width: 257px;
        height: 29px;
        left: 591px;
        top: 613px;
        background: #001F70;
        border-radius: 10px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 21px;
        color: #FFFFFF;
        text-transform: uppercase;
        border: none;
    }
    .lista_de_times{
        height: 46%;
        margin-top: 10%;
    }
    .lista_de_times h2{
        font-family: Titillium Web;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 61px;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        margin-bottom: 3%;
    }
    .conteiner_lista{
        width: 100%;
    }
    table{
        height: 115px;
        width: 770px;
        border: 2px solid #fff;
        height: 115px;
    }
    table th{
       
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;

        color: #FFFFFF;
    }
    .header_list {
        background-color: black;
        height: 36px;
    }
    table td{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;
        color: #FFFFFF;
    }
    